/*Default*/
* {
    outline: none !important;
}

body {font-family: 'Exo', sans-serif; color: #666666; font-weight: 300;}

section {
    background-color: #f7f7f7;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #21b5ea;
    margin: 0 0 18px;
}

h2 strong {
    font-size: 42px;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 200;
    margin: 0 0 15px;
}

b {
    font-weight: 600;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px;
    overflow: auto;
}

.full .container {
    position: relative;
    height: 100%;
    padding: 0;
}

.full .copyrigh {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.auth {
    width: 365px;
    max-width: 100%;
    margin: 7% auto 0;
    padding: 0 15px;
}

.auth img {
    margin: 0 0 40px;
}

.auth h1 {
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    line-height: 22px;
    margin: 0 0 6px;
}

.auth h2 {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 36px;
    margin: 0 0 30px;
}

.auth p {
    font-size: 12px;
    font-weight: 200;
    color: #ffffff;
    line-height: 14px;
}

.auth p + .btn {
    margin-top: 20px;
}

.auth .btn {
    padding: 8px 10px;
}

.auth hr {
    border-color: #7d7f80;
    margin: 15px 0 15px;
}

.auth .link {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.auth .link-info {
    font-size: 15px;
    font-weight: 400;
    color: #21b5ea;
}

.auth .link:hover {
    opacity: 0.6;
}

.auth .form-group {
    margin-bottom: 10px;
}

.auth .checkbox {
    margin-top: 0;
}

.auth .checkbox label {
    font-size: 12px;
    color: #fff;
    font-weight: 200;
}

.box-stage .stages {
    float: left;
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -ms-calc(100% - 200px);
    width: -o-calc(100% - 200px);
    padding: 11px 0;
}

.stages a {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    line-height: 17px;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    background-color: #3c4495;
    display: block;
    float: left;
    margin: 0 2px;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.stages a.active,
.stages a:hover {
    background-color: #21b5ea;
}

.box-stage .btn-stage {
    float: left;
    width: 200px;
}


/*Background*/
.bg-f1f1f1 {background-color: #f1f1f1;}
.bg-1d2149 {background-color: #1d2149;}
.bg-21b5ea {background-color: #21b5ea;}

/*Grid*/
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.block {
    padding: 50px 0;
}

.col3 {
    display: table;
    width: 100%;
}

.col3-row {
    display: table-row; 
}

.col3 .col {
    width: 33.33%;
    display: table-cell;
    padding: 50px 30px;
    vertical-align: top;
}

.col3 .col:nth-child(1) {
    background-color: #3c4495;
    padding-left: 15px;
    padding-right: 15px;
}

.col3 .col:nth-child(2) {
    background-color: #21b5ea;
}

.col3 .col:nth-child(3) {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.col3 h3 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    line-height: 35px;
    margin: 0 0 15px;
    padding: 0 15px;
}

.col3 h4 {
    font-size: 24px;
    font-weight: 100;
    color: #ffffff;
    line-height: 36px;
    margin: 25px 0;
    padding: 0 15px;
}

.col3 h5 {
    font-size: 22px;
    font-weight: 500;
    color: #01b25a;
    line-height: 27px;
    margin: 0 0 25px;
    text-transform: uppercase;
    padding: 0 15px;
}

.col3 p {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    text-align: center;
    margin: 0;
}

.col3 hr {
    margin: 0 0 25px;
    border-top: 2px solid #555ca2;
}

.col3 ul {
    margin: 0;
    padding: 0;
}

.col3 li {
    list-style: none;
    margin-bottom: 40px;
}

.col3 li:before,
.col3 li:after {
    display: table;
    content: "";
}

.col3 li:after {
    clear: both;
}

.col3 li [class*="ion-"] {
    font-size: 60px;
    color: #fff;
    float: left;
    margin-top: -10px;
    width: 60px;
}

.col3 li > div {
    float: left;
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -ms-calc(100% - 60px);
    width: -o-calc(100% - 60px);
}

.col3 li:last-child > div {
    margin-bottom: 0;
}

.col3 li h4 {
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
}

.col3 li p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
    text-align: left;
}

.col3 li p a {
    color: inherit;
    text-decoration: underline;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.col3 li p a:hover {
    opacity: 0.7;
}

.col3 .btn {
    margin-bottom: 30px;
}

/*Typography*/
.text-thin {font-weight: 100;}
.text-extra-light {font-weight: 200;}
.text-light {font-weight: 300;}
.text-regular {font-weight: 400;}
.text-medium {font-weight: 500;}
.text-semi-bold {font-weight: 600;}
.text-bold {font-weight: 700;}
.text-extra-bold {font-weight: 800;}
.text-black {font-weight: 900;}

/*Button*/
.btn {font-size: 16px; padding: 8px 35px; border-radius: 3px;    -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.btn-group-lg>.btn, .btn-lg {padding: 11px 35px; font-size: 20px; }
.btn-group-xg>.btn, .btn-xg {padding: 11px 35px; font-size: 26px; }
.btn-success {color: #fff; background-color: #01b25a; border-color: #01b25a; }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:hover:active {color: #fff; background-color: #028443; border-color: #028443; }
.btn-info {color: #fff; background-color: #21b5ea; border-color: #21b5ea; }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:hover:active {color: #fff; background-color: #18799c; border-color: #18799c; }

/*Form*/
.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 50px;
    font-size: 16px;
    font-weight: 200;
    border-radius: 0;
}

.form-control:focus {
    border-color: #21b5ea;
}
.no-resize {resize: none;}
.input-group-btn>.btn {padding: 5px 12px; }
[class*="input-group-"] .form-control {
    height: 75px;
    border-top-left-radius: 37.5px;
    border-bottom-left-radius: 37.5px;
    font-size: 18px;
    font-weight: 300;
    color: #666666;
    padding: 20px;
    padding-right: 0;
    border-width: 2px;
}

.input-group-btn:before {
    display: block;
    content: "";
    width: 35px;
    height: 71px;
    position: absolute;
    left: -2px;
    top: 2px;
    background: #fff;
    z-index: 9;
    border-bottom-right-radius: 37.5px;
}

.input-group-btn>.btn {
    padding: 19px 25px;
    padding-left: 60px;
    border: none;
    background-color: #ccc;
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 37.5px;
}

.input-group-success .input-group-btn>.btn { 
	background-color: #01b25a;
}

.input-group-success .form-control {
	border-color: #01b25a;
}

.input-group-info .input-group-btn>.btn { 
    background-color: #21b5ea;
}

.input-group-info .form-control {
    border-color: #21b5ea;
}

/*Navbar*/
.navbar {border: none; border-radius: 0; margin-bottom: 0;}
.navbar-default {background-color: #3c4495; }
.navbar-header {width: 160px; }
.navbar-brand {height: auto; }
.nav>li>a {padding: 10px 10px; }
.navbar-nav {margin-top: 20px; }
.navbar-default .navbar-nav>li>a {font-size: 19px; font-weight: 500; text-transform: uppercase; color: #fff; }
.navbar-default .navbar-nav>li>a:not(.btn):focus, .navbar-default .navbar-nav>li>a:not(.btn):hover {color: rgba(255, 255, 255, 0.57); }
.nav>li>a.btn {padding: 14px 30px; font-size: 20px; margin-top: -5px;}
.nav>li>a.btn-success:hover, .nav>li>a.btn-success:focus, .nav>li>a.btn-success:active, .nav>li>a.btn-success:hover:active {color: #fff; background-color: #028443; border-color: #028443; }
.navbar-right li:last-child .btn {margin-left: 20px; }

.navbar-default .navbar-nav>li .sub-menu {
    display: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 5px;
    margin-left: 10px;
}

.navbar-default .navbar-nav>li .sub-menu a {
    padding: 10px 20px;
}

.navbar-default .navbar-nav>li .sub-menu li:hover a {
    color: #21b5ea;
}


.navbar-default .navbar-nav>li .sub-menu li + li a {
    border-top: 1px solid #ccc;
}

.navbar-default .navbar-nav>li:hover .sub-menu {
    display: block;
}

.checklist {
    padding: 0 30px;
}
.checklist.box {
    background-color: #fff;
    padding: 50px 30px;
    height: 100%;
}

.checklist.box .btn {
    margin-bottom: 10px;
}

.checklist h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}

.checklist h3:after {
    display: block;
    content: "";
    width: 160px;
    height: 3px;
    background-color: #666666;
    margin: 25px 0 30px;
}

.checklist h4 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 20px;
}

.checklist ul {
    margin: 0 0 40px;
    padding: 0;
}

.checklist li {
    font-size: 18px;
    color: #666666;
    list-style: none;
    text-indent: -14.5px;
    padding-left: 30.5px;
    margin-bottom: 20px;
    line-height: 20px;
}

.checklist li:before{
    display: inline-block;
    font-family: "Ionicons";
    content: "\f121";
    font-size: 22px;
    margin-right: 10px;
}

.checklist.checklist-cl-1 h2,
.checklist.checklist-cl-1 h3,
.checklist.checklist-cl-1 h4 {
    color: #3c4495;
}

.checklist.checklist-cl-2 h2,
.checklist.checklist-cl-2 h3,
.checklist.checklist-cl-2 h4 {
    color: #21b5ea;
}

.checklist.checklist-cl-1 h3:after {
    background-color: #3c4495;
}

.checklist.checklist-cl-2 h3:after {
    background-color: #21b5ea;
}

.checklist.checklist-cl-1 li:before {
    color: #21b5ea;
}

.checklist.checklist-cl-2 li:before {
    color: #3c4495;
}

/*Banner*/
.banner {padding: 20px 0; background-color: #fff;}
.banner [class*="col-"] {position: relative; }
.banner .content {position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.banner h1 {font-size: 50px; font-weight: 500; text-transform: uppercase; color: #1d2149; }
.banner h2 {font-size: 24px; font-weight: 300; color: #1d2149; line-height: 44px; margin: 0 0 40px;}

.banner.inter {
    height: 567px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner.inter.help {
    height: 370px !important;
}

.banner.inter h1 {
    color: #3c4495;
}

.banner.inter h2 {
    font-size: 28px;
    color: #3c4495;
    width: 635px;
    max-width: 100%;
}

.banner.inter .vcenter {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.banner.inter .content {
    min-height: 160px;
}


/*Brands*/
.brands {
    padding: 40px 0 0;
    background-color: #f1f1f1;
}

#slider-brands .slick-slide img {
    max-width: 100%;
    padding: 0 20px;
}

.slick-slider {
    text-align: center;
}

.slick-dots {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}

.slick-dots li {
    list-style: none;
    float: left;
}

.slick-dots li button {
    background: #8a8a8a;
    border: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 3.5px;
}

.slick-dots li.slick-active button {
    background: #21b5ea;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4) inset;
}

/*Screens*/

.slider-screens #slider-screens img {
    width: 100%;
    height: auto;
}

.slider-screens .ion-chevron-left,
.slider-screens .ion-chevron-right {
    font-size: 40px;
    color: #21b5ea;
    cursor: pointer;
    margin-top: 240px;
    display: inline-block;
}

.slider-screens .ion-chevron-left:hover,
.slider-screens .ion-chevron-right:hover {
    color: #18799c;
}

.slider-screens .ion-chevron-left {
    float: left;
}

.slider-screens .ion-chevron-right {
    float: right;
}

.slider-screens .slick-dots {
    margin-bottom: 30px;
}

.browser {
    position: relative;
}

.browser .slick-list {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.browser .img-navbar {
    width: 100%;
    height: auto;
}

.slider-screens-2 {
    position: relative;
}

.slider-screens-2 .content {
    position: relative;
}

.slider-screens-2 .box-slider {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 612px;
    overflow: hidden;
    margin-left: -306px;
}

.slider-screens-2 .box-slider img {
    width: 100%;
}

.slider-screens-2 .screen {
    position: relative;
    z-index: 2;
}

.slider-screens-2 .slider-screens-2-arrow {
    width: 45px;
    height: 45px;
    background-color: #01b25a;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    display: block;
    clear: #fff;
    position: absolute;
    top: 200px;
    margin-top: -22.5px;
    z-index: 3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.slider-screens-2 .slider-screens-2-arrow:hover {
    background-color: #028443;
}

.slider-screens-2 .slider-screens-2-arrow i {
    font-size: 40px;
    color: #fff;
}

.slider-screens-2 #slider-screens-prev-2 {
    left: 23px;
}

.slider-screens-2 #slider-screens-next-2 {
    right: 23px;
}

.slider-screens-2 .description {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
    margin-bottom: 50px;
    text-align: left;
    display: none;
}

.slider-screens-2 .description h6 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #3c4495;
    margin: 0 0 5px;
}

.slider-screens-2 .description p {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
    line-height: 17px;
    margin: 0;
}

.slider-screens-2 .description p + p {
    margin-top: 10px;
}


/*Home Vídeo*/
.homevideo {
    padding: 60px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homevideo iframe,
.homevideo video {
    width: 100%;
    height: 428px;
    border: 6px solid #fff;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.homevideo h2 {
    font-weight: 200;
    color: #fff;
    margin: 0 0 45px;
    text-transform: uppercase;
}

.homevideo h2 b {
    font-weight: 600;
}

.item-box h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 15px;
}

.item-box h2 b {
    font-weight: 700;
}

.item-box h3 {
    font-size: 28px;
    font-weight: 500;
    color: #3c4495;
    text-align: center;
    margin: 0;
}

.item-box  .item {
    width: 33.33%;
    height: 300px;
    float: left;
    text-align: center;
    padding: 40px 45px 0;
    position: relative;
}

.item-box  .item:before {
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #e9e9e9;
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -75px;
}

.item-box  .item:after {
    display: block;
    content: "";
    width: 1px;
    height: 150px;
    background-color: #e9e9e9;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -75px;
}

.item-box .item:nth-child(3n+0):after {
    display: none;
}

.item-box .item:nth-child(1):before,
.item-box .item:nth-child(2):before,
.item-box .item:nth-child(3):before {
    display: none;
}

.item-box  .item [class*="ion-"] {
    font-size: 70px;
    display: block;
}

.item-box .item span {
    display: block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 200;
}

/*Logos*/
.logos:before,
.logos:after {
    display: table;
    content: "";
}

.logos:after {
    clear: both;
}

.logos .logos-box {
    float: left;
    padding: 15px;
    height: 75px;
    position: relative;
}

.logos-5 .logos-box {
    width: 20%;
    height: 100px;
}

.logos-5 .logos-box img {
    display: block;
    margin: 0 auto;
}

.logos-6 .logos-box {
    width: 16.66%;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    line-height: 120px;
}

.logos img {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    display: inline-block;
}

/*Share*/
.share {
    display: block;
    text-align: center;
}

.share .share-group {
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.share [class*="ion-"] {
    font-size: 32px;
    color: #fff;
}

.share .btn {
    background-color: #ccc;
    padding: 0 10px;
    width: 100px;
    margin: 0 6px;
}

.share .btn-facebook {
    background-color: #3c61a7;
    border-color: #3c61a7;
}

.share .btn-facebook:hover {
    background-color: #263c67;
    border-color: #263c67;
}

.share .btn-googlepush {
    background-color: #c74231;
    border-color: #c74231;
}

.share .btn-googlepush:hover {
    background-color: #8e3328;
    border-color: #8e3328;
}

.share .btn-linkedin {
    background-color: #4d7fba;
    border-color: #4d7fba;
}

.share .btn-linkedin:hover {
    background-color: #3a5d86;
    border-color: #3a5d86;
}


/*Price*/
.price table {
    width: 100%;
}

.price tr:nth-child(odd)>td {
    background-color: #e5e5e5;
}

.price tr:nth-child(even)>td {
    background-color: #f7f7f7;
}

.price td {
    color: #666666;
    font-size: 18px;
    padding: 5px;
}

.price th, .price td {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.price tr:nth-child(odd) td:last-child {
    background-color: #74d2f3;
}

.price td:last-child {
    color: #3c4495;
}

.price td:last-child {
    border-right: 0;
}

.price tr:nth-child(even) td:last-child {
    background-color: #beeeff;
}

.price tr:first-child td {
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px;
    background-color: #1d2149 !important;
    text-align: center;
}

.price tr:nth-child(2) td {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    background-color: #3c4495;
}

.price tr:nth-child(2) td:last-child {
    padding: 10px;
    background-color: #21b5ea;
    font-weight: 600;
}

.price tr:last-child td {
        background-color: #01b25a !important;
    font-size: 18px;
    color: #fff;
    padding: 5px;
}

/*Box Text Color*/
.box-text-color {
    padding: 50px 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}

.box-text-color[class*="bg-"] {
    color: #fff;
}

.box-text-color p + p{
    margin-top: 40px;
}

.panel-custom {
    border-radius: 0;
    padding: 20px;
}

.panel-custom .panel-heading {
    border-radius: 0;
    padding: 30px;
}

.panel-custom .panel-heading h4 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;   
}

.panel-custom .panel-body p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.panel-custom .panel-body p + p {
    margin-top: 45px;
}

.panel-custom .panel-body p>b {
    font-size: 22px;
    font-weight: 200;
}

.panel-custom .panel-heading a {
    font-size: 20px;
    color: #21b5ea;
    margin: 0;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.panel-custom .panel-heading a:hover {
    color: #1a7b9e;
}

.panel-custom.panel-primary,
.panel-custom.panel-primary>.panel-heading {
    background-color: #1d2149;
    border-color: #1d2149;
    color: #fff;
}

.panel-custom.panel-primary>.panel-heading {
    border-color: #262b58;
}

.panel-custom.panel-primary>.panel-body {
    padding: 30px;
}

.panel-custom.panel.contacts {
    margin-bottom: 50px;
    min-height: 835px;
}

[type="submit"].contact {
    margin: 30px 0 60px;
}

/*Footer*/
footer {
    background-color: #3c4495;
}

footer .footer-top {
    padding: 30px 0 20px;
    border-bottom: 1px solid #464e9e;
}

footer .address {
    font-size: 16px;
    display: block;
    color: #fff;
    font-weight: 200;    
}

footer .footer-top .phone {
    font-size: 16px;
    display: block;
    color: #fff;
}

footer .footer-top .social a {
    width: 25%;
    display: block;
    float: left;
    color: #fff;
    font-size: 40px;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer .footer-top .social a:hover {
    opacity: 0.5;
}

footer .footer-middle {
    padding: 20px 0;
    min-height: 110px;
}

footer .footer-middle ul {
    margin: 0;
    padding: 0;
}

footer .footer-middle li {
    float: left;
    list-style: none;
}

footer .footer-middle li a {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer .footer-middle li a:hover {
    opacity: 0.6;
}

footer .footer-bottom {
    background-color: #1d2149;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    color: #3c4495;
}

/*Ajuda*/
.help h3 {
    font-size: 20px;
    font-weight: 200;
    color: #666666;
    line-height: 30px;
    margin: 0 0 40px;
}

.accordion-title {
    font-size: 28px !important;
    font-weight: 500 !important;
    color: #666666 !important;
    margin: 0 0 10px !important;
}

.accordion + .accordion-title {
    margin-top: 30px !important;
}


/*Acordion*/
.accordion .panel-primary>.panel-heading {
    color: #fff;
    background-color: #3c4495;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.accordion .panel-primary>.panel-heading:before,
.accordion .panel-primary>.panel-heading:after {
    display: table;
    content: "";
}

.accordion .panel-primary>.panel-heading:after {
    clear: both;
}

.accordion .panel-primary>.panel-heading h4 {
    display: block;
    width: 100%;
}

.accordion .panel-primary>.panel-heading h4 a {
    display: block;
    padding: 14px 30px;
    padding-right: 50px;
    position: relative;
}

.accordion .panel-primary>.panel-heading h4 a:after {
    display: inline-block;
    content: "+";
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    float: right;
    color: #3c4495;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
}

.accordion .panel-primary>.panel-heading h4 a[aria-expanded="true"]:after {
    content: "-";
}

.accordion .panel-primary, 
.accordion .panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.accordion .panel-primary .panel-body {
    background-color: #e5e5e5;
    font-size: 18px;
    font-weight: 200;
    color: #666666;
    padding: 25px 30px;
}

.accordion .panel-title {
    font-size: 20px;
    font-weight: 200;
}

.accordion .panel-title a {
    text-decoration: none !important;
}

.accordion .panel {
    padding: 0;
}

.accordion .panel+.panel {
    margin-top: 4px;
}


/*BOX CTA*/
.box-cta {
    background-color: #3c4495;
    padding: 40px;
    text-align: center;
    /*margin-bottom: 50px;*/
}

.box-cta h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 25px;
}

.box-cta p {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 20px;
}

.box-cta .input-group {
    width: 660px;
    margin: 0 auto;
    max-width: 100%;
}

.box-cta [class*="input-group-"] .form-control {
    border: none;
    height: 55px;
    border-top-left-radius: 37.5px;
    border-bottom-left-radius: 37.5px;
}

.box-cta .input-group-btn:before {
    height: 55px;
    top: 0px;
}

.box-cta .input-group-btn>.btn {
    padding: 14px 35px;
    padding-left: 70px;
    font-size: 19px;
}

.box-cta-2 h2 {
    text-transform: uppercase;
    text-align: right;
    margin-top: 6px;
}

.box-itens {
    padding: 50px 0;
    margin-bottom: 50px;
}

.box-itens .item {
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: 262.5px;
    text-align: center;
    padding: 30px 15px;
}

.box-itens .item [class*="ion-"] {
    display: block;
    font-size: 70px;
    color: #3c4495;
}

.box-itens .item span {
    font-size: 22px;
    line-height: 28px;
    font-weight: 200;
    color: #3c4495;
}


.nav-btns {
    background-color: #e5eef3;
    text-align: center;
    padding: 5px 0;
}

.nav-btns h1 {
    font-size: 50px;
    font-weight: 500;
    color: #3c4495;
    text-transform: uppercase;
    margin: 40px 0 45px;
}

.nav-btns .nav-btns-content {
    width: 100%;
    text-align: center;
}

.nav-btns .nav-btns-row {
    display: inline-block;
}


.nav-btns .nav-btns-row .btn {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px 5px;
}

.nav-btns .nav-btns-row .btn.active,
.nav-btns .nav-btns-row .btn:hover {
    background-color: #01b25a;
    border-color: #01b25a;
}

.nav-btns .nav-btns-row .btn.active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.features .box-features {
    padding: 50px 0;
}

.features h2 {
    margin-bottom: 15px;
}

.features h3 {
    font-size: 28px;
    font-weight: 400;
    color: #3c4495;
}

.features h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    color: #3c4495;
    margin: 0 0 30px;
}

.features h4 strong {
    font-weight: 400;
}


.features h5 {
    font-size: 20px;
    font-weight: 400;
    color: #21b5ea;
    margin: 0 0 30px;
}

.features h4 + h5:before {
    display: block;
    content: "";
    width: 150px;
    height: 3px;
    background-color: #3c4495;
    margin: 0 0 30px;
}

.features ul {
    margin: 0;
    padding: 0;
}

.features li {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px;
    font-weight: 300;
    color: #666666;
    text-indent: -22px;
    margin-left: 44px;
}

.features li:before {
    display: inline-block;
    font-family: "Ionicons";
    content: "\f121";
    font-size: 22px;
    color: #21b5ea;
    margin-right: 10px;
}

.features .screen {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    width: auto;
    height: auto;
}

/*CF7*/
.wpcf7-response-output {
    padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.wpcf7-response-output,
.wpcf7-validation-errors {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.wpcf7-mail-sent-ok {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}


.box-cta form span.wpcf7-not-valid-tip {
    display: none !important;
}

.box-cta form div.wpcf7-response-output {
    width: 660px;
    margin: 28px auto 20px;
}












.def-cl-1 *,
.def-cl-2 * {
    color: inherit;
}

.def-cl-1 {
    color: #3c4495;
}

.def-cl-2 {
    color: #21b5ea;
}