@media (max-width: 1199px) {
	.navbar-default .navbar-nav>li>a {
	    font-size: 17px;
	}

	.nav>li>a.btn {
	    padding: 14px 15px;
	    font-size: 18px;
	}

	.banner .img-banner {
		max-width: 100%;
	}

	.banner h1 {
		font-size: 48px;
	}

	.banner h2 {
	    font-size: 22px;
	    line-height: 42px;
	}

	.homevideo iframe {
		height: 350px;
	}

	footer .footer-top .address,
	footer .footer-top .phone,
	footer .footer-middle li a {
		font-size: 14px;
	}

	.slider-screens .ion-chevron-left,
	.slider-screens .ion-chevron-right {
		margin-top: 180px;
	}

	.col3 li [class*="ion-"] {
	    font-size: 40px;
	    width: 40px;
	}

	.col3 li > div {
	    width: calc(100% - 40px);
	    width: -webkit-calc(100% - 40px);
	    width: -moz-calc(100% - 40px);
	    width: -ms-calc(100% - 40px);
	    width: -o-calc(100% - 40px);
	}

	.col3 li h4 {
		line-height: 24px;
	}

	.col3 .col {
		padding: 50px 20px;
	}

	.box-itens .item {
		height: 212.5px;
		padding: 15px;
	}

	.box-itens .item [class*="ion-"] {
		font-size: 50px;
	}

	.box-itens .item span {
	    font-size: 16px;
	}

	.nav-btns h1 {
		font-size: 46px;
	}

	.nav-btns .nav-btns-row .btn {
	    font-size: 14px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.slider-screens-2 .slider-screens-2-arrow {top: 190px; }
	.slider-screens-2 #slider-screens-prev-2 {left: -20px; }
	.slider-screens-2 #slider-screens-next-2 {right: -20px; }
	.slider-screens-2 .box-slider {width: 570px; margin-left: -286px; top: 24px;}
}

@media (max-width: 991px) {
	/*Navbar collapse*/
    .navbar-nav .open .dropdown-menu {position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none; }
    .navbar-nav .open .dropdown-menu > li > a {line-height: 20px; }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {padding: 5px 15px 5px 25px; }
    .dropdown-menu > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: #333; white-space: nowrap; }
    .navbar-header {float: none; }
    .navbar-toggle {display: block; }
    .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-collapse.collapse {display: none!important; }
    .navbar-nav {float: none!important; margin: 7.5px 50px 7.5px -15px }
    .navbar-nav>li {float: none; }
    .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px; }
    .navbar-text {float: none; margin: 15px 0; }
    .navbar-collapse.collapse.in {display: block!important; }
    .collapsing {overflow: hidden!important; }
	.navbar-header {width: auto; }
	.navbar-right li:last-child .btn {margin: 0 10px; }
	.navbar-nav {margin-bottom: 0; }
	.navbar-right {margin-top: 0; margin-bottom: 20px; margin-right: 0;}
	.navbar-default .navbar-toggle {border: none; }
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff; }
	.navbar-toggle {display: block; margin-top: 25px; }
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent; }
	.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {color: rgba(255, 255, 255, 0.57); }
	.nav>li>a.btn {width: 100%;}

	.banner h1 {
	    font-size: 36px;
	}

	.banner h2 {
	    font-size: 18px;
	    line-height: 34px;
	}

	.homevideo iframe {
	    height: 270px;
	}

	footer .footer-top .social a {
		font-size: 30px;
	}

	footer .footer-middle li a {
		font-size: 16px;
	}

	footer .social {
	    margin-top: 20px;
	}

	footer .footer-middle .container {
		text-align: center;
	}

	footer .footer-middle ul {
		display: inline-block;
	}

	.box-cta .input-group,
	.box-cta form div.wpcf7-response-output {
	    width: 500px;
	}

	.box-cta .input-group-btn>.btn {
	    padding: 14px 20px;
	    padding-left: 40px;
	}

	.box-cta-2 {
		text-align: center;
	}

	.box-cta-2 h2 {
		text-align: inherit;
	}

	.input-group-btn:before {
		left: -7px;
	}

	.box-text-color {
	    font-size: 18px;
	}

	.item-box  .item {
		width: 50%;
	}

	.item-box  .item:after {
		display: none;
	}

	.item-box  .item:nth-child(2n+0):after {
	    display: block;
	    content: "";
	    width: 1px;
	    height: 150px;
	    background-color: #e9e9e9;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    margin-top: -75px;
	}

	.item-box .item:before {
	    display: block !important;
	    content: "";
	    width: 150px;
	    height: 1px;
	    background-color: #e9e9e9;
	    position: absolute;
	    top: 0;
	    right: 50%;
	    margin-right: -75px;
	}

	.item-box .item:nth-child(1):before,
	.item-box .item:nth-child(2):before {
	    display: none !important;
	}

	.logos .logos-box {
		width: 33.33%;
		height: 80px;
	}

	.slider-screens .ion-chevron-left, .slider-screens .ion-chevron-right {
	    margin-top: 140px;
	}

	.col3,
	.col3-row,
	.col3 .col {
		display: block;
		width: 100%;
	}

	.col3 .col {
	    padding: 20px;
	}

	.col3 .col:nth-child(3) {
		height: 470px;
	}

	.box-itens .item span {
	    line-height: 20px;
	}

	.nav-btns h1 {
	    font-size: 40px;
	}

	.slider-screens-2 .slider-screens-2-arrow {width: 30px; height: 30px; line-height: 30px;}
	.slider-screens-2 .slider-screens-2-arrow i {font-size: 30px;}
	.slider-screens-2 #slider-screens-prev-2 {
	    left: -11px;
	}
	.slider-screens-2 #slider-screens-next-2 {
	    right: -11px;
	}

	.slider-screens-2 .slider-screens-2-arrow {
	    top: 160px;
	}
	.slider-screens-2 .box-slider {
	    width: 434px;
	    margin-left: -218px;
	    top: 18px;
	}

	.panel-custom.panel.contacts {
		min-height: inherit;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 28px;
	}

	.banner .row-eq-height {
	    display: inherit;
	}

	.banner .content {
	    position: inherit;
	    transform: inherit;
	    -webkit-transform: inherit;
	    -moz-transform: inherit;
	    -ms-transform: inherit;
	    -o-transform: inherit;
	    padding: 30px 0 0;
	    text-align: center;
	}

	.footer-top img {
	    margin-bottom: 20px;
	}

	.panel {
		padding: 10px;
	}

	.panel-heading,
	.panel-primary>.panel-body {
		padding: 15px;
	}

	.panel-heading h4 {
		font-size: 26px;
	}

	.panel-body p>b {
		font-size: 18px;
	}

	.panel-body p {
		font-size: 14px;
	}

	.panel-body p + p {
	    margin-top: 30px;
	}

	.panel.contacts {
	    margin-bottom: 0;
	}

	[type="submit"].contact {
	    margin: 0 0 50px;
	}

	.box-cta .input-group,
	.box-cta form div.wpcf7-response-output {
	    width: 442px;
	}

	.box-cta h3 {
		font-size: 28px;
	}

	.box-cta p {
	    font-size: 20px;
	    line-height: 24px;
	}

	.box-cta {
		padding: 25px;
	}

	.item-box .item {
	    width: 100%;
	    height: auto;
	    padding: 15px 0;
	}

	.item-box .item:before,
	.item-box .item:after {
		display: none !important;
	}

	footer .address {
	    margin-bottom: 15px;
	}

	footer .social {
	    width: 200px;
	}

	footer .footer-middle .container {
		text-align: left;
	}

	.row-eq-height-checklist {
		display: block;
	}

	.checklist.box {
		padding: 30px;
	}

	.share .share-group {
		width: 100%;
	}

	.share .btn {
	    width: 24%;
	}

	.price>table>thead>tr>th,
	.price>table>tbody>tr>td>table>thead>tr>th,
	.price>table>tbody>tr>td>table>tbody>tr>td,
	.price>table>tfoot>tr>td {
		font-size: 16px;
	}

	.box-itens .item {
	    height: 200px;
	    margin-bottom: 15px;
	}

	.nav-btns h1 {
	    font-size: 35px;
	}

	.nav-btns .nav-btns-row .btn {
	    width: 100%;
	}

	.features .screen,
	.slider-screens-2 .content {
	    width: 470px;
	    margin: 0 auto 20px;
	}

	.box-stage .stages,
	.box-stage .btn-stage {
		float: none;
	}

	.auth h1 {
		font-size: 16px;
	}

	.auth h2 {
		font-size: 30px;
	}

	.box-stage .stages {
	    width: 100%;
	    margin-bottom: 20px;
	}

}

@media (max-width: 570px) {
	footer .footer-middle li {
		float: none;
		margin-bottom: 10px;
	}

	.box-cta .input-group-btn>.btn,
	[class*="input-group-"] .form-control {
		font-size: 16px;
	}

	.box-cta [class*="input-group-"] .form-control {
	    height: 50px;
	}

	.box-cta .input-group-btn:before {
	    height: 50px;
	    top: 0px;
	}

	.box-cta .input-group,
	.box-cta form div.wpcf7-response-output {
	    width: 365px;
	}


	.logos .logos-box {
		width: 50%;
		height: 80px;
	}

	.features .screen, .slider-screens-2 .content {
	    width: 400px;
	}

	.slider-screens-2 .box-slider {
	    width: 370px;
	    margin-left: -185px;
	    top: 16px;
	}

	.slider-screens-2 #slider-screens-prev-2 {
	    left: -15px;
	}

	.slider-screens-2 #slider-screens-next-2 {
	    right: -15px;
	}

	.slider-screens-2 .slider-screens-2-arrow {
	    top: 135px;
	}
}

@media (max-width: 520px) {
	.homevideo iframe {
	    height: 200px;
	}
}

@media (max-width: 490px)  {
	footer .footer-top .col-xs-4 {
		float: none;
		width: 100%;
	}

	.box-cta .input-group,
	.box-cta form div.wpcf7-response-output {
	    width: 276px;
	}

	.features .screen, .slider-screens-2 .content {
	    width: 275px;
	    max-width: 275px;
	}

	.slider-screens-2 .box-slider {
	    width: 255px;
	    margin-left: -128px;
	    top: 10px;
	}

	.slider-screens-2 .slider-screens-2-arrow {
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
	}

	.slider-screens-2 .slider-screens-2-arrow {
	    top: 102px;
	}

	.slider-screens-2 .slider-screens-2-arrow i {
	    font-size: 20px;
	    line-height: 22.5px;
	}

	.slider-screens-2 #slider-screens-prev-2 {
	    left: -10px;
	}

	.slider-screens-2 #slider-screens-next-2 {
	    right: -10px;
	}
}